    

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    overflow-x:hidden;
  }
#vh-content{
    block-size: 3023px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 1008px;
    inline-size: 868px;
    perspective-origin: 434px 1511.5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 434px 1511.5px;
    width: 2100px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.wrapCont {
    
    block-size: 2235px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 1000px;
    inline-size: 868px;
    padding-block-end: 40px;
    padding-block-start: 40px;
    perspective-origin: 434px 1117.5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 434px 1117.5px;
    width: 2587px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    padding: 40px 0px;
}
.wrapper {
    block-size: 2155px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 900px;
    inline-size: 868px;
    max-inline-size: 1190px;
    max-width: 1190px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    perspective-origin: 434px 1077.5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 434px 1077.5px;
    width: 2300px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 10px;
}
.vhdiscover {
    block-size: 2155px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 887px;
    inline-size: 848px;
    perspective-origin: 424px 1077.5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 424px 1077.5px;
    width: 2070px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}

.vhcont {
    block-size: 2099px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 800px;
    inline-size: 848px;
    perspective-origin: 424px 1049.5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 424px 1049.5px;
    width: 2070px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.lstdiscover hidden-xs {
    block-size: 2050px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 2050px;
    inline-size: 848px;
    perspective-origin: 424px 1025px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 424px 1025px;
    width: 2070px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.gripdiscover {
    block-size: 410px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    display: flex;
    height: 410px;
    inline-size: 878px;
    margin-inline-end: -15px;
    margin-inline-start: -15px;
    perspective-origin: 439px 205px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 439px 205px;
    width: 2100px;
    border: 0px none rgb(51, 51, 51);
    flex-flow: row wrap;
    font: 14px / 22px "Nunito Sans";
    margin: 0px -15px;
    outline: rgb(51, 51, 51) none 0px;
}
.coll{
    block-size: 410px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 410px;
    inline-size: 439px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 219.5px 205px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 219.5px 205px;
    width: 439px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}
.itemdiscover {
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 380px;
    inline-size: 409px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 30px;
    perspective-origin: 204.5px 190px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 204.5px 190px;
    width: 409px;
    animation: 0s ease 0.2s 1 normal none running none;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    margin: 0px 0px 30px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}
.itemdiscover::before {
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    content: '';
    display: block;
    height: 380px;
    inline-size: 409px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 204.5px 190px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 204.5px 190px;
    width: 409px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.thumb {
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 380px;
    inline-size: 409px;
    perspective-origin: 204.5px 190px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 204.5px 190px;
    width: 620px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}
#lienket {
    backface-visibility: hidden;
    background-position: 50% 50%;
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    display: block;
    height: 380px;
    inline-size: 409px;
    perspective-origin: 204.5px 190px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 204.5px 190px;
    width: 409px;
    background: rgba(0, 0, 0, 0) url("image/iphone.jpg") no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86) 0s;
}
#IMG{
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    cursor: pointer;
    display: none;
    max-inline-size: 100%;
    max-width: 100%;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: middle;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.decs {
    block-size: 153px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 153px;
    inline-size: 409px;
    inset-block-end: 0px;
    inset-block-start: 227px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 204.5px 76.5px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 227px;
    transform-origin: 204.5px 76.5px;
    width: 409px;
    z-index: 1;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(255, 255, 255) none 0px;
    padding: 20px;
}
.title {
    block-size: 60px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 60px;
    inline-size: 369px;
    margin-block-end: 5px;
    max-inline-size: 450px;
    max-width: 450px;
    perspective-origin: 184.5px 30px;
    pointer-events: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 184.5px 30px;
    width: 369px;
    border: 0px none rgb(255, 255, 255);
    font: 600 20px / 30px "Nunito Sans";
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
}
.tend{
    block-size: 48px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 48px;
    inline-size: 369px;
    max-block-size: 48px;
    max-height: 48px;
    perspective-origin: 184.5px 24px;
    pointer-events: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 184.5px 24px;
    width: 369px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "Nunito Sans";
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}
.colr {
    block-size: 410px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 410px;
    inline-size: 439px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 219.5px 205px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 219.5px 205px;
    width: 620px;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}
#lienket1{
    backface-visibility: hidden;
    background-position: 50% 50%;
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    display: block;
    height: 380px;
    inline-size: 409px;
    perspective-origin: 204.5px 190px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 204.5px 190px;
    width: 620px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86) 0s;
}
.colr>.itemdiscover {
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 380px;
    inline-size: 409px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 30px;
    perspective-origin: 204.5px 190px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 204.5px 190px;
    width: 620px;
    animation: 0s ease 0.2s 1 normal none running none;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    margin: 0px 0px 30px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}
.colr>.itemdiscover::before {
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    content: '';
    display: block;
    height: 380px;
    inline-size: 409px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 204.5px 190px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 204.5px 190px;
    width: 620px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.thumb> #lienket1{
    backface-visibility: hidden;
    background-position: 50% 50%;
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    display: block;
    height: 380px;
    inline-size: 409px;
    perspective-origin: 204.5px 190px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 204.5px 190px;
    width: 620px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86) 0s;
}
.thumb> #lienket1::before{
    backface-visibility: hidden;
    background-position: 50% 50%;
    block-size: 380px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    display: block;
    height: 380px;
    inline-size: 409px;
    perspective-origin: 204.5px 190px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 204.5px 190px;
    width: 620px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
    transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86) 0s;
}

#IMG_1{
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    cursor: pointer;
    display: none;
    max-inline-size: 100%;
    max-width: 100%;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: middle;
    border: 0px none rgb(51, 51, 51);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(51, 51, 51) none 0px;
}
.colr.decs {
    block-size: 183px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 183px;
    inline-size: 409px;
    inset-block-end: 0px;
    inset-block-start: 197px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 204.5px 91.5px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 197px;
    transform-origin: 204.5px 91.5px;
    width: 409px;
    z-index: 1;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 22px "Nunito Sans";
    outline: rgb(255, 255, 255) none 0px;
    padding: 20px;
}
.colr.decs.title{
    block-size: 90px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 90px;
    inline-size: 369px;
    margin-block-end: 5px;
    max-inline-size: 450px;
    max-width: 450px;
    perspective-origin: 184.5px 45px;
    pointer-events: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 184.5px 45px;
    width: 369px;
    border: 0px none rgb(255, 255, 255);
    font: 600 20px / 30px "Nunito Sans";
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
}
.colr.decs.tend{
    block-size: 48px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 48px;
    inline-size: 369px;
    max-block-size: 48px;
    max-height: 48px;
    perspective-origin: 184.5px 24px;
    pointer-events: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 184.5px 24px;
    width: 369px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "Nunito Sans";
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}
